@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
background-color: #F0FF79;
font-family: 'Lobster', cursive;
}
h1,h2,p {text-align:center;}
h1,h2,p {color:#000000;}
